@mixin center-v () {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
}
.myclass{
        background-color: #f5d442;
        position: relative;
    }
    .item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
  &--primary{
    @include center-v;
    right: 20px;
    background: green;
  }

  &--secondary{
    @include center-v;
    left: 20px;
    background: red;
  }
}
 .customJsEvents {
   width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;

  text-align: center;

  font-size: 3em;




}
.customJsEvents h2 {
   @include center-v;


}
